* {
    box-sizing: border-box;
}
  
html {
    font-family: "DM Sans";
}

h1{
  color: #C54D28;
  font-weight: heavier;
}

p{
  color:#5A5959;
}
body {
    padding: 2rem 0rem;
    margin: 2rem;
    max-width: 700px;
    margin: auto;
    background-color: #FFF;
    color: #212121;
}
 
li{
  padding-bottom: .5rem;
  line-height: 1.5;
  color:#5A5959;
}

header {
  padding: 0rem 1rem;
}

img{
  width: 30vw;
}

.images {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
}

.column{
  justify-content: space-evenly;
  text-align: left;
  float: left;
  width: 50%;
  padding: 1rem;
}

.row {
  max-width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  
}

  
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
@media (max-width: 700px) {
  .column {
    width: 100%;
  }
  body{
    margin: 2rem;
  }
}
  