* {
    box-sizing: border-box;
}
  
html {
    font-family: "DM Sans";
}
  
body {
    padding: 2rem 0rem;
    margin: 2rem;
    max-width: 700px;
    margin: auto;
    background-color: #FFF;
    color: #212121;
}
 
li{
  padding-bottom: .5rem;
  line-height: 1.5;
}

header {
  padding: 0rem 1rem;
}

img{
  width: 30vw;
}

.images {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
}

.column1 {
  float: left;
  width: 50%;
  padding: 1rem;
  height: 150px;
}

.column2 {
  float: left;
  width: 50%;
  padding: 1rem;
  height: 350px;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
@media (max-width: 700px) {
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  body{
    margin: 2rem;
  }
}
  