* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
scroll-behavior: smooth;
}

/* FONT SOURCES */
@font-face {
font-family: 'PoppinsBold';
src: url('fonts/Poppins-Bold.ttf');}

@font-face {
font-family: 'PoppinsMedium';
src: url('fonts/Poppins-Medium.ttf');}

@font-face {
font-family: 'Poppins';
src: url('fonts/Poppins-Regular.ttf');}
@font-face {
font-family: 'PoppinsSemiBold';
src: url('fonts/Poppins-SemiBold.ttf');}

/* COLORS-- soon implement dark and light mode */
:root{
--background-color: #f9f9f9;
--text-color-black: #2F2E2E;
--text-color-gray: #535353;
--accent-color-purple: #B0B0E7;
--accent-color-blue: #A1CEEC;
--accent-color-pink: #F4653C;
--accent-color-green: #B5DE8A;
--hover-color:#7B61FF;
}

/* ANIMATION */
@keyframes fadeIn {
from {
    opacity: 0;
} to {
    opacity: 1;
}
}

/* .fadeIn {
animation: fadeIn 1s ease-in forwards;
} */


body{
background-color: var(--background-color);
margin:0px;
padding: 45px 11.7vw;
letter-spacing: normal;
}

/* STANDARD FONTS */
h1 {
font-family: PoppinsBold, Arial, Helvetica, sans-serif;
font-size: 30px;
color: var(--text-color-black);
font-weight: 100;
margin: 0px;
}

h2{
font-family: PoppinsSemiBold;
font-size: 25px;
color: var(--text-color-black);
}

h3{
font-family: 'PoppinsSemiBold';
color: var(--text-color-black);
font-size: 25px;
}

p{
font-family: 'Poppins';
color: var(--text-color-gray);
font-size: 18px;
}

/* NAVIGATION */
a.logo{
font-family: PoppinsBold;
color: var(--text-color-black);
}

nav a.active {
  color: #403F3F;
  font-family: PoppinsSemiBold;
  text-underline-offset: 10px;
}


nav .nav__icon {display: none;}

nav a.color--blue{text-decoration: var(--accent-color-blue) underline 2.5px;}
nav a.color--purple{text-decoration: var(--accent-color-purple) underline 2.5px;}
nav a.color--green{text-decoration: var(--accent-color-green) underline 2.5px;}
nav a.color--pink{text-decoration: var(--accent-color-pink) underline 2.5px;}
nav a.color--black{text-decoration: var(--text-color-black) underline 2.5px;}
nav a:hover {color: var(--hover-color);}

svg{
width: 40px;
height: 40px;
float: left;
margin-right:.8rem;
}

svg.color--blue{fill: var(--accent-color-blue);}
svg.color--lightpurple{fill: var(--accent-color-lightpurple);}
svg.color--purple{fill: var(--accent-color-purple);}
svg.color--green{fill: var(--accent-color-green);}
svg.color--pink{fill: var(--accent-color-pink);}

nav {
overflow: hidden;
padding: 0px 24px;
}

nav a {
float: left;
display: block;
color: var(--text-color-gray);
text-align: center;
text-decoration: none;
font-size: 23px;
align-items: center;
}

.nav-right {float: right;}

.nav-right a {
font-family: PoppinsMedium;
padding-left: 32px;
}

.nav-right a:not(:last-child) {padding: 0px 32px;}

/* INTRO */
.intro {
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
margin:100px auto;
}

.mobile-break{
display: none;
}

.intro__textwrapper {
margin: auto 2rem;
max-width: 506px;
}

.intro__header{
white-space: nowrap;
animation: fadeIn .5s ease-in .18s forwards;
opacity: 0;
}

.intro__text{
line-height: 32px;
margin-top:5px;
font-size: 20px;
animation: fadeIn .5s ease-in .28s forwards;
opacity: 0;
}

.intro__picture {
display: flex;
width: 200px;
align-items: center;
margin: auto 2.5vw;
animation: fadeIn .5s ease-in .18s forwards;
opacity: 0;
}

/* .work__header {
animation: fadeIn .5s ease-in .22s forwards;
opacity: 0;
} */

/* CARDS */
.card {
  text-align:center;
  }

.card__image{
max-width: 500px;
display: block;
margin: 0rem auto;
padding: 1rem 0rem;
width:100%;
-webkit-filter: drop-shadow( 0px 5px 5px rgba(0, 0, 0, 0.05));
filter: drop-shadow( 0px 5px 5px  rgba(0, 0, 0, 0.05)) 
}

.card__header{
width: 100%;
margin-bottom: 0rem;
}

.card__text{
padding-bottom: 2.5rem;
width:100%;
margin:0rem auto;
}

.work{
text-align: center;
width:100%;
animation: fadeIn .5s ease-in .5s forwards;
opacity: 0;
}
.work a {
color:var(--text-color-black);
text-decoration: none;
}

.work a:visited { 
text-decoration: none; 
color: var(--text-color-black); 
}
.work h2{
  padding-bottom: 2rem;
}

.work__container{
  max-width: fit-content;
  margin: auto;
}
/* 
img{
width: 30vw;
} */

/* .images {
display: flex;
justify-content: space-evenly;
margin: 2rem;
} */


.column{
justify-content: space-evenly;
text-align: left;
float: left;
width: 50%;
padding: 0rem 1.3rem;
height: auto;
}

.row {
max-width: 100%;
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;


}


.row:after {
content: "";
display: table;
clear: both;
}

/* @media (max-width: 700px) {
.column {
  width: 100%;
}
body{
  margin: 2rem;
  text-align:center;
}


}
.card {
text-align:center;
} */




/* INNER PAGES */

.innerpage__heroimage{
  
display: block;
margin: 0rem auto;
padding: 0rem auto;
padding-bottom: 2rem;
width:100%;
-webkit-filter: drop-shadow( 0px 5px 5px rgba(0, 0, 0, 0.05));
filter: drop-shadow( 0px 5px 5px  rgba(0, 0, 0, 0.05)) 

}

.innerpage__image{
display: block;
margin: 0rem auto;
padding: 1rem 0rem;
width:100%;

}

.innerpage{
/* padding:100px 240px 0rem 0rem;  */
margin: auto 2rem;
margin: 0 auto;
margin-top:50px;
max-width: 850px;
animation: fadeIn .5s ease-in 0s forwards;
/* margin-left:200px; */
}

/* .innerpage img {
  animation: fadeIn .5s ease-in 0s forwards;
}

.innerpage h3 {
  animation: fadeIn .5s ease-in .1s forwards;
} */

.innerpage__subheading{
padding-top: 1rem;
margin-bottom:1rem;

}
h1.innerpage__subheading{
  font-size: 36px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: -1rem;
  padding: 0px;
  }
.innerpage__text{
margin: 1rem 0rem;
margin-bottom: 2rem;
color: #3B3A3A;
/* animation: fadeIn .5s ease-in .05s forwards; */
}
.innerpage__text--listitem{
font-family: Poppins, Georgia, serif;
font-size: 1.125rem;
line-height: 2rem;
width:100%;
color: var(--text-color-gray);
margin-bottom: 1rem;
margin-left: 1rem;
}

.innerpage__challenge{
  color: #2F2E2E;
  margin: 1.5rem 0rem;
  font-size: 1.5rem;
  border: #F2A4B7 2px;
  border-radius: 25px;
  filter: drop-shadow(0px 0px 20px #E9E9E9);
  background-color: white;
  padding:1.5rem;
}

.pinkunderline{
  text-decoration: #F4653C underline 2px;
  text-underline-offset: 2px;
  /* background-color: #F3D2DA; */
}

.pinkhighlight{
  text-decoration: #F4653C underline 3px;
  text-underline-offset: 4px;
  /* background-color: #F9E3E8; */
}

.bold{
  font-family: 'PoppinsMedium';
  color: var(--text-color-black);
}


/* Create two equal columns that floats next to each other */
.picturecolumn {
  float: left;
  width: 50%;
  padding: 1rem 2rem;
}

/* Clear floats after the columns */
.picturerow:after {
  content: "";
  display: table;
  clear: both;
}


.aboutpicture{
  width: 100%;
  text-align: center;
}

/* FOOTER */
footer{
text-align: center;
width:100%;
padding-top: 64px;
padding-bottom: 48px;
}

.footer__icon {
height: 4.06rem;
padding: .875rem;
padding-top: .93rem;
}

/* media queries */
/* TABLET */
@media screen and (max-width: 863px) {
body{
  padding: 45px 3.8vw;  
}
.text__wrapper{
  padding: 0rem 5vw;
}

.picturecolumn {
  width: 100%;
  padding:0rem;
}

.innerpage{
  margin-top:2rem;
}


/* NAV */
nav {
  overflow: hidden;
  padding: 0px 15px;
} 
.nav-right a {padding-left:16px;}
.nav-right a:not(:last-child) {padding: 0px 16px;}

/* INTRO */
.intro {
  display: block;
  margin:80px auto;
  max-width: 625px;
  text-align: center;
}
.intro__picture {
  text-align: center;
  width:180px;
  margin: 0rem auto;
  margin-bottom: 45px;
}
.intro__text{
  font-size: 18px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.intro__textwrapper {
  margin: auto;
  max-width: 506px;
}
.column {
  width: 100%;
}

}

/* SMALL TABLET */
@media screen and (max-width: 645px) {
.nav-right a {
  display: none;
}
nav .nav__icon {
  height:20px;
  float: right;
  display: block;
  margin: 5px 0px;
}
nav.responsive {position: relative;}
nav.responsive .nav__icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 15px;
}
nav.responsive a {
  float: none;
  display: block;
  text-align: right;
}
nav.responsive a.logo{
  text-align: left;
}
h1{
  font-size: 28px;
  /* font-size: 4.3vw; */
}

.intro__textwrapper{
  max-width: 444px;
}

.nav-right a {padding: 20px 0px 0px 0px;}
.nav-right a:not(:last-child) {padding: 20px 0px 0px 0px;}
}

/* PHONE */
@media screen and (max-width: 480px) {
.intro{
margin:50px auto;
}

.nav-right a {
display: none;
}
nav .nav__icon {
height:20px;
float: right;
display: block;
margin: 5px 0px;
}
nav.responsive {position: relative;}
nav.responsive .nav__icon {
position: absolute;
right: 0;
top: 0;
padding: 0px 15px;
}
nav.responsive a {
float: none;
display: block;
text-align: right;
}
nav.responsive a.logo{
text-align: left;
}
h1{
font-size: 26px;
}
h2{
font-size: 22px;
}
.intro p{
font-size: 16px;
} 

.mobile-break{
display: block;
}
.intro__textwrapper{
max-width: 295px;
}

.nav-right a {padding: 20px 0px 0px 0px;}
.nav-right a:not(:last-child) {padding: 20px 0px 0px 0px;}

}


.innerpage ul li {
  font-family: 'Poppins';
color: var(--text-color-gray);
font-size: 18px;
padding: .5rem 0rem;
}